/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

body {
    line-height: 1.6;
    background-color: #ededed;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #3b3b3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    z-index: 1000;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-left: auto; 
    margin-top: 20px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px; 
    transition: background-color 0.3s;
}

.nav ul li a:hover {
    background-color: #00bbd491;
}

.menu-toggle {
    display: none;
    background-color: #5e6264;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: auto; 
}

h2{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-family: "Libre Baskerville", serif;
    
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
}

.sobremi p{
    text-align: justify;
}

.inicio {
    padding-top: 100px;
    text-align: center;
    background-color: #cfa4a0;
}

.inicio img{
    width: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.escritura{
    color: #ffffff;
    text-shadow: 2px 2px 4px #795e5b; 
}
/* Estilo responsivo para el texto de escritura */
#typewriter {
    font-size: clamp(1rem, 5vw, 2rem); 
    color: white; 
    white-space: normal; 
    overflow: hidden; 
    border-right: 3px solid rgb(255, 255, 255);
    display: inline-block;
    max-width: 100%; 
}

/* Cursor que simula la escritura */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#typewriter {
    animation: blink 0.7s steps(1) infinite;
}


.imagen{
width: 40%;
text-align: center;
border-radius: 50%;
margin-bottom: 20px;
}

.habilidades-y-carrusel{
    background-color:#e78483;
    text-align: justify;
    padding-bottom: 30px;
}

.carrucel{   
    width: auto; 
    height: 250px;       
    object-fit: cover;  
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(149, 149, 149);
}

.proyectos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s;
    width: 320px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.card:hover {
    transform: scale(1.05);
}


/* Diseño responsive */
@media (max-width: 768px) {
    .images-wrapper img {
        height: 200px;
    }

    button.prev, button.next {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 25px;
        padding-inline: 20px;
    }
    h2{
        font-size: 15px;
    }
    li {
        font-size: 13px;
    }
    .nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 4.5rem;
        right: 0;
        background-color: #333;
        padding: 1rem;
        border-radius: 8px;
    }
    .nav ul.active {
        display: flex;
    }
    .menu-toggle {
        display: block;
    }

.card{
    width: 250px;
}
}

@media (max-width: 500px) {

    p {
        font-size: 10px;
        margin-inline: 15px;
    }
    h3{
        font-size: 15px;
        margin-inline: 2px;
    }
    .proyectos-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        padding: 2rem;
        
    }

    .card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 1rem;
        text-align: center;
        transition: transform 0.3s;
        width: 350px;
    }
    .card img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
    }
}
